@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: white;
  background: #1C2939;
}

.roulette-pro-prize-list {
  gap: 1rem !important;
}

.cta-btn {
  position: relative;
  transform: translateY(50%);
}

.roulette-btn {
  z-index: 10;
  position: relative;
  transform: translateY(-50%);
}

.roulette-pro-regular-prize-item-wrapper{
  height: 100%;
  width: 100%;
}

.roulette-pro-regular-prize-item-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

li {
  width: 120px;
  height: 160px;
}

.footer-img {
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}

.roulette-pro-prize-list {
  top: -25px !important;
}

.roulette-pro-wrapper {
  background-color: #101A23;
  padding-bottom: 1rem;
}

.arrow {
  z-index: 10;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 70px solid white;
  position: relative;
  top: -1rem;
  margin: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
